<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Ukeplaner.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0D4F53171F3E1E0700F79487</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0D4F532B1F3E1E0700F79487</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0D4F53361F3E1E0700F79487</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
